{% extends "admin/layout.html" %}
{% block head %}
    <script>
        function togglePrint() {
            const ato = document.getElementById("ato");
            const data = document.getElementById("data");
            const button = document.getElementById("print");

            ato.disabled = !ato.disabled;
            data.disabled = !data.disabled;

            if (ato.disabled === true) {
                button.value = 'Imprimir';
                button.setAttribute('type', 'button');
                const att = document.createAttribute('onclick');
                att.value = 'window.print();';
                button.setAttributeNode(att);
            } else {
                button.value = 'Gerar ato';
                button.setAttribute('type', 'submit');
                const att = document.createAttribute('onclick');
                att.value = '/admin/controle-lotacao/detalhe/{{ carfun }}+{{ lot }}';
                button.removeAttribute('onclick');
            }
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <br>
        <form class="container" method="POST">
            <div class="form-group">
                <label id="switch" class="switch switch-3d switch-success mr-3">
                    <input type="checkbox" class="switch-input" onclick="togglePrint()">
                    <span class="switch-label"></span> <span class="switch-handle"></span>
                </label>Imprimir utilizando o nº do ato:
                <label for="ato"></label>
                <input id="ato" name="ato" class="form-control" required disabled>
                <label for="data">Data do ato:</label>
                <input type="date" id="data" name="data" class="form-control" required disabled>
                <input type="hidden" name="carfun" value="{{ carfun }}" class="form-control">
                <input type="hidden" name="lot" value="{{ lot }}" class="form-control">
            </div>

            <input id="print" type="button" class="btn btn-primary float-right" onclick="window.print();"
                   value="Imprimir">
        </form>
        <br>
        <h5>{{ lot }} - {{ desc }}</h5>
        <br>
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.cad_matr }}</td>
                    <td>{{ row.cad_nome }}</td>
                    <td>{{ row.car_desc }}</td>
                    <td>{{ row.fic_valor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Right Panel -->

    {% block scripts %}
        <script src="{{ url_for('static', filename='admin/vendors/popper.js/dist/umd/popper.min.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/plugins.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/main.js', _external=True) }}"></script>

        <script src="{{ url_for('static', filename='admin/assets/js/lib/data-table/datatables.min.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/lib/data-table/dataTables.bootstrap.min.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/lib/data-table/dataTables.buttons.min.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/lib/chart-js/Chart.bundle.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/dashboard.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/widgets.js', _external=True) }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/lib/data-table/datatables-init.js', _external=True) }}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#bootstrap-data-table-export').DataTable();
            });

            jQuery(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    window.location = $(this).data("href");
                });
            });
        </script>
    {% endblock %}
{% endblock %}
