<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#    <meta name="viewport" content="width=device-width, initial-scale=1">#}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/auth.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.mask.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/validacao.js"></script>

<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <img src="../static/images/logo.png" class="img-fluid"
                     style="height: 250px; width: 100%; display: block;" align="center">
                <p>Por favor entre com sua matrícula e senha.</p>
            </div>
            <form id="Login" method="post">
                <div class="form-group">
                    <input class="form-control" name="matricula" placeholder="Matricula" pattern="[0-9]{6}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="senha" placeholder="Senha" pattern="[0-9]{7}">
                    <small class="form-text text-muted">
                        Dica de senha: 3 primeiros dígitos do CPF e 4 dígitos do ano de nascimento.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>
        <p class="botto-text"> Designed by
            <a href="http://solucoescati.com.br" target="_blank">CATI - Soluções em Tecnologia</a></p>
    </div>
</div>
</body>
</html>
