<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.mask.min.js"></script>

<body>
<div class="container">
    <br>
    <div class="page-header">
        <h1>#Recadastramento</h1>
    </div>

    <form class="container" method="POST">
        {# Trabalhador #}
        <br>
        <div class="page-header">
            <h3>Informações do Trabalhador</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="cpfTrab">*CPF: </label>
            <input id="cpfTrab" name="cpfTrab" class="form-form-control-plaintext" value="{{ pegaso.cpf }}" readonly>
        </div>
        <div class="form-group">
            <label for="nisTrab">*NIS: </label>
            <input id="nisTrab" name="nisTrab" class="form-form-control-plaintext" value="{{ pegaso.pispasep }}"
                   readonly>
        </div>
        <div class="form-group">
            <label for="nmTrab">*Nome Completo: </label>
            <input id="nmTrab" name="nmTrab" class="form-form-control-plaintext" value="{{ pegaso.nome }}" readonly>
        </div>
        <div class="form-group">
            <label for="dtNascto">*Data de Nascimento: </label>
            <input type="date" id="dtNascto" name="dtNascto" class="form-form-control-plaintext"
                   value="{{ pegaso.dtnasc }}" readonly>
        </div>
        <div class="form-group">
            <label for="sexo">Sexo:</label>
            <select id="sexo" name="sexo" class="form-control">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="racaCor">Raça/Cor:</label>
            <select id="racaCor" name="racaCor" class="form-control">
                <option value="1">Branca</option>
                <option value="2">Preta</option>
                <option value="3">Parda</option>
                <option value="4">Amarela</option>
                <option value="5">Indígena</option>
                <option value="6">Não informado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="estCiv">Estado Civil:</label>
            <select id="estCiv" name="estCiv" class="form-control">
                <option value="1">Solteiro</option>
                <option value="2">Casado</option>
                <option value="3">Divorciado</option>
                <option value="4">Separado</option>
                <option value="5">Viúvo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="grauInstr">Grau de Instrução:</label>
            <select id="grauInstr" name="grauInstr" class="form-control">
                <option value="01">Analfabeto</option>
                <option value="02">Até o 5º ano incompleto do Ensino Fundamental (antiga 4ª série)</option>
                <option value="03">5o ano completo do Ensino Fundamental</option>
                <option value="04">Do 6o ao 9o ano do Ensino Fundamental incompleto (antiga 5a a 8a série)</option>
                <option value="05">Ensino Fundamental Completo</option>
                <option value="06">Ensino Médio incompleto</option>
                <option value="07">Ensino Médio completo</option>
                <option value="08">Educação Superior incompleta</option>
                <option value="09">Educação Superior completa</option>
                <option value="10">Pós-Graduação completa</option>
                <option value="11">Mestrado completo</option>
                <option value="12">Doutorado completo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="indPriEmpr">Primeiro emprego?</label>
            <select id="indPriEmpr" name="indPriEmpr" class="form-control">
                <option value="S">Sim</option>
                <option value="N">Não</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nmSoc">Nome Social:</label>
            <input id="nmSoc" name="nmSoc" class="form-control" maxlength="70">
            <small id="nmSocHelp" class="form-text text-muted">Nome social para travesti ou transexual.</small>
        </div>
        {# Nascimento #}
        <br>
        <div class="page-header">
            <h3>Informações de Nascimento</h3>
        </div>
        <br>
        {# Origem tabela "paises" #}
        <div class="form-group">
            <label for="paisNac">País Nacionalidade:</label>
            <select id="paisNac" name="paisNac" class="form-control">
                {% for x in paises %}
                    <option value="{{ x }}">{{ paises[x] }}</option>
                {% endfor %}
            </select>
        </div>
        {# Origem tabela "paises" #}
        <div class="form-group">
            <label for="paisNascto">País Nascimento:</label>
            <select id="paisNascto" name="paisNascto" class="form-control">
                {% for x in paises %}
                    <option value="{{ x }}">{{ paises[x] }}</option>
                {% endfor %}
            </select>
        </div>
        {# Se pais nascimento selecionado = "Brasil" #}
        <div class="form-group">
            <label for="uf">Estado:</label>
            <select id="uf" name="uf" class="form-control">
                {% for x in estados %}
                    <option value="{{ x }}">{{ estados[x] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="codMunic">Município:</label>
            <select id="codMunic" name="codMunic" class="form-control">
                {% for x in municipios %}
                    <option value="{{ x }}">{{ municipios[x] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="nmMae">Nome Mãe:</label>
            <input id="nmMae" name="nmMae" class="form-control" maxlength="70" required>
        </div>
        <div class="form-group">
            <label for="nmPai">Nome Pai:</label>
            <input id="nmPai" name="nmPai" class="form-control" maxlength="70" required>
        </div>
        {# CTPS #}
        <br>
        <div class="page-header">
            <h3>Informações de CTPS</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="nrCtps">Nº CTPS:</label>
            <input id="nrCtps" name="nrCtps" class="form-control" maxlength="11" required>
        </div>
        <div class="form-group">
            <label for="serieCtps">Série CTPS:</label>
            <input id="serieCtps" name="serieCtps" class="form-control" maxlength="5" required>
        </div>
        <div class="form-group">
            <label for="ufCtps">UF CTPS:</label>
            <select id="ufCtps" name="ufCtps" class="form-control">
                {% for x in estados %}
                    <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        {# RG #}
        <br>
        <div class="page-header">
            <h3>Informações do RG</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="nrRg">Nº RG:</label>
            <input id="nrRg" name="nrRg" class="form-control" maxlength="14" required>
        </div>
        <div class="form-group">
            <label for="rg_orgaoEmissor">Órgão Emissor:</label>
            <input id="rg_orgaoEmissor" name="rg_orgaoEmissor" class="form-control" maxlength="20" required>
            <small id="rg_orgaoEmissorHelp" class="form-text text-muted">Órgão e UF de emissão.</small>
        </div>
        <div class="form-group">
            <label for="rg_dtExped">Data de Expedição:</label>
            <input type="date" id="rg_dtExped" name="rg_dtExped" class="form-control" required>
        </div>
        {# OC #}
        <br>
        <div class="page-header">
            <h3>Informações do Órgão de Classe</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="nrOc">Nº OC:</label>
            <input id="nrOc" name="nrOc" class="form-control" maxlength="14" required>
        </div>
        <div class="form-group">
            <label for="oc_orgaoEmissor">Órgão Emissor:</label>
            <input id="oc_orgaoEmissor" name="oc_orgaoEmissor" class="form-control" maxlength="20" required>
            <small id="oc_orgaoEmissorHelp" class="form-text text-muted">Órgão e UF de emissão.</small>
        </div>
        <div class="form-group">
            <label for="oc_dtExped">Data de Expedição:</label>
            <input type="date" id="oc_dtExped" name="oc_dtExped" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="oc_dtValid">Data de Validade:</label>
            <input type="date" id="oc_dtValid" name="oc_dtValid" class="form-control" required>
        </div>
        {# CNH * Caso possua, incluir checkbox! #}
        <div id="cnh">
            <br>
            <div class="page-header">
                <h3>Informações de CNH</h3>
            </div>
            <br>
            <div class="form-group">
                <label for="nrRegCnh">Nº do Registro CNH:</label>
                <input id="nrRegCnh" name="nrRegCnh" class="form-control" maxlength="14" required>
            </div>
            <div class="form-group">
                <label for="cnh_dtExped">Data de Expedição:</label>
                <input type="date" id="cnh_dtExped" name="cnh_dtExped" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="ufCnh">UF CNH:</label>
                <select id="ufCnh" name="ufCnh" class="form-control">
                    {% for x in estados %}
                        <option value="{{ x }}">{{ x }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="cnh_dtValid">Data de Validade:</label>
                <input type="date" id="cnh_dtValid" name="cnh_dtValid" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="dtPriHab">Data da Primeira Habilitação:</label>
                <input type="date" id="dtPriHab" name="dtPriHab" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="categoriaCnh">Categoria CNH:</label>
                <select id="categoriaCnh" name="categoriaCnh" class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>AB</option>
                    <option>AC</option>
                    <option>AD</option>
                    <option>AE</option>
                </select>
            </div>
        </div>
        {# Endereco - Brasil #}
        <br>
        <div class="page-header">
            <h3>Informações de Endereço Residencial</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="paisResid">País Residência:</label>
            <select id="paisResid" name="paisResid" class="form-control">
                {% for x in paises %}
                    <option value="{{ x }}">{{ paises[x] }}</option>
                {% endfor %}
            </select>
        </div>
        {# Se pais residencia selecionado = "Brasil" #}
        <div class="form-group">
            <label for="end_uf">Estado:</label>
            <select id="end_uf" name="end_uf" class="form-control">
                {% for x in estados %}
                    <option value="{{ x }}">{{ estados[x] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="end_codMunic">Município:</label>
            <select id="end_codMunic" name="codMunic" class="form-control">
                {% for x in municipios %}
                    <option value="{{ x }}">{{ municipios[x] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="cep">CEP:</label>
            <input id="cep" name="cep" class="form-control" maxlength="14" required>
        </div>
        <div class="form-group">
            <label for="tpLograd">Tipo Logradouro:</label>
            <select id="tpLograd" name="tpLograd" class="form-control">
                {% for x in tl %}
                    <option value="{{ x }}">{{ tl[x] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="dscLograd">Logradouro:</label>
            <input id="dscLograd" name="dscLograd" class="form-control" maxlength="14" required>
        </div>
        <div class="form-group">
            <label for="nrLograd">Nº Logradouro:</label>
            <input id="nrLograd" name="nrLograd" class="form-control" maxlength="14" required>
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input id="complemento" name="complemento" class="form-control" maxlength="14" required>
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <select id="bairro" name="bairro" class="form-control">
                {% for x in bairros %}
                    <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        {# Informações de Deficiência #}
        <br>
        <div class="page-header">
            <h3>Informações de Deficiência</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="defFisica">Deficiência física?</label>
            <select id="defFisica" name="defFisica" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="defVisual">Deficiência visual?</label>
            <select id="defVisual" name="defVisual" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="defAuditiva">Deficiência auditiva?</label>
            <select id="defAuditiva" name="defAuditiva" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="defMental">Deficiência mental?</label>
            <select id="defMental" name="defMental" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="defIntelectual">Deficiência intelectual?</label>
            <select id="defIntelectual" name="defIntelectual" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="defReadap">Readaptado/Reabilitado?</label>
            <select id="defReadap" name="defReadap" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="infoCota">Cota PCD?</label>
            <select id="infoCota" name="infoCota" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="observacao">Observação:</label>
            <textarea id="observacao" name="observacao" class="form-control" maxlength="255"></textarea>
        </div>
        {# Informações de Dependentes * Caso possua, incluir checkbox! #}
        <div id="dependete">
            <br>
            <div class="page-header">
                <h3>Informações de Dependentes</h3>
            </div>
            <br>
            <div class="form-group">
                <label for="tpDep">Tipo de dependente:</label>
                <select id="tpDep" name="tpDep" class="form-control">
                    <option value="01">Cônjuge</option>
                    <option value="02">Companheiro(a) com o(a) qual tenha filho ou viva há mais de 5 (cinco) anos ou
                        possua
                        Declaração de União Estável
                    </option>
                    <option value="03">Filho(a) ou enteado(a)</option>
                    <option value="04">Filho(a) ou enteado(a) universitário(a) ou cursando escola técnica de 2o grau,
                        até
                        24 (vinte e quatro) anos
                    </option>
                    <option value="06">Irmão(ã), neto(a) ou bisneto(a) sem arrimo dos pais, do(a) qual detenha a
                        guarda
                        judicial
                    </option>
                    <option value="09">Pais, avós e bisavós</option>
                    <option value="10">Menor pobre do qual detenha a guarda judicial</option>
                    <option value="11">A pessoa absolutamente incapaz, da qual seja tutor ou curador</option>
                    <option value="12">Ex-cônjuge</option>
                    <option value="99">Agregado/Outros</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nmDep">Nome Completo:</label>
                <input id="nmDep" name="nmDep" class="form-control" maxlength="70" required>
            </div>
            <div class="form-group">
                <label for="dep_dtNascto">Data de Nascimento:</label>
                <input type="date" id="dep_dtNascto" name="dep_dtNascto" class="form-control" maxlength="70" required>
            </div>
            <div class="form-group">
                <label for="cpfDep">CPF:</label>
                <input id="cpfDep" name="cpfDep" class="form-control" maxlength="11" required>
            </div>
            <div class="form-group">
                <label for="depIRRF">Dependente IRRF?</label>
                <select id="depIRRF" name="depIRRF" class="form-control">
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label for="depSF">Dependente Salário-Família?</label>
                <select id="depSF" name="depSF" class="form-control">
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label for="incTrab">Incapacidade física ou mental para o trabalho?</label>
                <select id="incTrab" name="incTrab" class="form-control">
                    <option value="N">Não</option>
                    <option value="S">Sim</option>
                </select>
            </div>
        </div>
        {# Informações de Aposentadoria #}
        <br>
        <div class="page-header">
            <h3>Informações de Aposentadoria</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="trabAposent">Aposentado por tempo de contribuição ou idade?</label>
            <select id="trabAposent" name="incTrab" class="form-control">
                <option value="N">Não</option>
                <option value="S">Sim</option>
            </select>
        </div>
        {# Informações de Contato #}
        <br>
        <div class="page-header">
            <h3>Informações de Contato</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="fonePrinc">Fone principal:</label>
            <input id="fonePrinc" name="fonePrinc" class="form-control" required>

        </div>
        <div class="form-group">
            <label for="foneAlternat">Fone alternativo:</label>
            <input id="foneAlternat" name="foneAlternat" class="form-control" maxlength="13">
        </div>
        <div class="form-group">
            <label for="emailPrinc">E-mail principal:</label>
            <input type="email" id="emailPrinc" name="emailPrinc" class="form-control" maxlength="60" required>
        </div>
        <div class="form-group">
            <label for="emailAlternat">E-mail alternativo:</label>
            <input type="email" id="emailAlternat" name="emailAlternat" class="form-control" maxlength="60">
        </div>

        <br>
        <script>
            {#$(document).ready(function () {#}
            jQuery(function () {
                $('#cep').mask('00000-000');
                $('#fonePrinc').mask('(00) 00000-0000');
                $('#foneAlternat').mask('(00) 00000-0000');
                $('#cpfTrab').mask('000.000.000-00');
                $('#cpfDep').mask('000.000.000-00');
                $('#nisTrab').mask('000.0000.000-0')
            });
        </script>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <br><br>
    </form>
</div>
</body>
</html>
