<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap.js"></script>

<body>
<div class="container">
    <div class="page-header">
        <h2>Recadastramento</h2>
    </div>
    <form class="container" method="POST">
        <div class="form-group">
            <label for="cpfTrab">**CPF</label>
            <input id="cpfTrab" name="cpfTrab" class="form-control" value="{{ pegaso.cpf }}" readonly>
        </div>
        <div class="form-group">
            <label for="nisTrab">**NIS</label>
            <input id="nisTrab" name="nisTrab" class="form-control" value="{{ pegaso.pispasep }}" readonly>
        </div>
        <div class="form-group">
            <label for="nmTrab">**Nome Completo</label>
            <input id="nmTrab" name="nmTrab" class="form-control" value="{{ pegaso.nome }}" readonly>
        </div>
        <div class="form-group">
            <label for="dtNascto">**Data de Nascimento</label>
            <input type="date" id="dtNascto" name="dtNascto" class="form-control" value="{{ pegaso.dtnasc }}" readonly>
        </div>
        <div class="form-group">
            <label for="sexo">*Sexo</label>
            <select id="sexo" name="sexo" class="form-control">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="racaCor">*Raça/Cor</label>
            <select id="racaCor" name="racaCor" class="form-control">
                <option value="1">Branca</option>
                <option value="2">Preta</option>
                <option value="3">Parda</option>
                <option value="4">Amarela</option>
                <option value="5">Indígena</option>
                <option value="6">Não informado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="estCiv">*Estado Civil</label>
            <select id="estCiv" name="estCiv" class="form-control">
                <option value="1">Solteiro</option>
                <option value="2">Casado</option>
                <option value="3">Divorciado</option>
                <option value="4">Separado</option>
                <option value="5">Viúvo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="grauInstr">*Grau de Instrução</label>
            <select id="grauInstr" name="grauInstr" class="form-control">
                <option value="01">Analfabeto</option>
                <option value="02">Até o 5º ano incompleto do Ensino Fundamental (antiga 4ª série)</option>
                <option value="03">5o ano completo do Ensino Fundamental</option>
                <option value="04">Do 6o ao 9o ano do Ensino Fundamental incompleto (antiga 5a a 8a série)</option>
                <option value="05">Ensino Fundamental Completo</option>
                <option value="06">Ensino Médio incompleto</option>
                <option value="07">Ensino Médio completo</option>
                <option value="08">Educação Superior incompleta</option>
                <option value="09">Educação Superior completa</option>
                <option value="10">Pós-Graduação completa</option>
                <option value="11">Mestrado completo</option>
                <option value="12">Doutorado completo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="indPriEmpr">*Primeiro emprego?</label>
            <select id="indPriEmpr" name="indPriEmpr" class="form-control">
                <option value="S">Sim</option>
                <option value="N">Não</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nmSoc">Nome Social</label>
            <input id="nmSoc" name="nmSoc" class="form-control" maxlength="70">
            <small id="nmSocHelp" class="form-text text-muted">Nome social para travesti ou transexual.</small>
        </div>
        {# Origem tabela "paises" #}
        <div class="form-group">
            <label for="paisNascto">País Nascimento</label>
            <select id="paisNascto" name="paisNascto" class="form-control">

            </select>
        </div>
        {# Se pais "Brasil" #}
        <div class="form-group">
            <label for="paisNascto">País Nascimento</label>
            <select id="paisNascto" name="paisNascto" class="form-control">

            </select>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>
</body>
</html>
